.box {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 2px solid rebeccapurple;
    font-size: 40px;
}
.content {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    width: 80%;
    margin-left: 5%;
    background-color: seashell;
    padding: 0 5%;

}

.calender ul {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;

}
.calender ul li {

    list-style: none;
    font-size: 4em;
    height: 120px;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
}
.other-month {

    background-color: springgreen !important;
}
h1 {

    text-align: center;
    margin: 50px 0;
}